<div class="row justify-content-center">
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>Editar Categoria de Personal</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input nbInput type="text" class="form-control" formControlName="name" placeholder="Nombre de la categoria">
                    </div>
                    <div class="form-group">
                        <label>Salario</label>
                        <input nbInput type="text" class="form-control" formControlName="salary" placeholder="Salario de la categoria">
                    </div>
                    <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>