<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello!</p>

<nb-alert *ngIf="showError" outline="danger" role="alert">
  <p class="alert-title"><b>Oh rayos ocurrio un error!</b></p>
  <ul class="alert-message-list">
    <li class="alert-message">Tu usuario o password no son validos.</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showSuccess" outline="success" role="alert">
  <p class="alert-title"><b>Bienvenido al sistema!</b></p>
  <ul class="alert-message-list">
    <li class="alert-message">Seras redirigido en menos de un minuto.</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="loading" outline="success" role="alert">
  <p class="alert-title"><b>Procesando...</b></p>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Username:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.username"
           #username="ngModel"
           name="username"
           id="input-email"
           pattern="^[a-z]+$"
           placeholder="Usuario"
           autofocus
           [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="username.invalid && username.touched ? true : null">
    <ng-container *ngIf="username.invalid && username.touched">
      <p class="error-message" *ngIf="username.errors?.required">
        Usuario es requerido!
      </p>
      <p class="error-message" *ngIf="username.errors?.pattern">
        Usuario debe estar en minusculas!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        Password es requerido!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Password debe contener
        {{ getConfigValue('forms.validation.password.minLength') }}
        a {{ getConfigValue('forms.validation.password.maxLength') }}
        letras
      </p>
    </ng-container>
  </div>

  <!-- <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
    <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
  </div> -->

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Ingresar
  </button>
</form>