<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
            <nb-card-header>Editar Ingreso de Caja</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>DNI</label>
                                <input autofocus nbInput 
                                    maxlength="8"
                                    (keyup)="verifyDNI()"
                                    (keypress)="numberOnly($event)"
                                    type="text"
                                    class="form-control"
                                    formControlName="DNI"
                                    placeholder="Número de DNI">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Paciente</label>
                                <input nbInput type="text" class="form-control" formControlName="NOMBRE_APELLIDO" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Tratamiento</label>
                                        <select class="form-control" formControlName="treatment" (change)="changeTreatment()" [disabled]="true">
                                            <option *ngFor="let treatment of treatmentList_parsed" value="{{ treatment.id }}"> {{ treatment.SERVICIO }} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Sesiones restantes</label>
                                        <input nbInput type="text" class="form-control" formControlName="sessions" placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input nbInput
                                            digitOnly
                                            (keydown)="onlynumbers($event)"
                                            (keyup)="changeQuantity()"
                                            type="text"
                                            pattern="[0-9]*"
                                            class="form-control"
                                            formControlName="CANTIDAD"
                                            placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-10" *ngIf="showpromotions">
                                    <div class="form-group">
                                        <label>Promoción</label>
                                        <select class="form-control" formControlName="PROMO_MENSUAL" (change)="changePromotion()">
                                            <option value="0">Seleccione una promoción</option>
                                            <option *ngFor="let promo of promotions_parsed" value="{{ promo.id }}">{{ promo.value }}</option>
                                            <option value="-1">Otro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10" *ngIf="showpromotions && Form.get('PROMO_MENSUAL').value == -1">
                                    <div class="form-group">
                                        <label>Código Promocional</label>
                                        <input nbInput
                                            type="text"
                                            (keyup)="searchPromotion()"
                                            class="form-control"
                                            formControlName="COD_PROMOCION"
                                            placeholder="Código de Promoción">
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Forma de pago</label>
                                        <select class="form-control" formControlName="FORMA_PAGO" placeholder="Código de Promoción">
                                            <option *ngFor="let pay of payment_method" value="{{ pay.value }}">{{ pay.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Tipo de comprobante</label>
                                        <select 
                                            class="form-control"
                                            formControlName="TIPO_COMPROBANTE"
                                            placeholder="Código de Promoción"
                                            (change)="changeQuantity()">
                                            <option *ngFor="let data of comprobantes" value="{{ data.value }}">{{ data.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="from-group text-right">
                                        <label>Precio Unitario</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="PRECIO_UNIDAD">
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="from-group text-right">
                                        <label>Subtotal</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="SUBTOTAL">
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="from-group text-right">
                                        <label>I.G.V</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="IGV">
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="from-group text-right">
                                        <label>Total</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="TOTAL">
                                    </div>
                                </div>

                                <div class="col-sm-7" *ngIf="showpromotions">
                                    <div class="from-group text-right">
                                        <label>Descuento</label>
                                    </div>
                                </div>
                                <div class="col-sm-5" *ngIf="showpromotions">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="DESCUENTO">
                                    </div>
                                </div>

                                <div class="col-sm-7" *ngIf="showpromotions">
                                    <div class="from-group text-right">
                                        <label>Total con descuento</label>
                                    </div>
                                </div>
                                <div class="col-sm-5" *ngIf="showpromotions">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="TOTAL_DESCUENTO">
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="from-group text-right">
                                        <label>Total a pagar</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="from-group">
                                        <input nbInput type="text" class="form-control text-right" formControlName="TOTAL_PAGADO">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>