<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Ediar Atencion Diaria</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Código</label>
                                <input nbInput type="number" class="form-control" formControlName="code" placeholder="Código de la tarifa">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Precio</label>
                                <input nbInput type="number" class="form-control" formControlName="price" placeholder="Precio de la tarifa">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Servicio</label>
                                <input nbInput type="text" class="form-control" formControlName="service" placeholder="Nombre del Servicio">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tipo de paciente</label>
                                <select nbInput class="form-control" formControlName="patient_type">
                                    <option value="">Seleccione un tipo de paciente</option>
                                    <option *ngFor="let data of patient_types" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tipo de tarifa</label>
                                <select nbInput class="form-control" formControlName="rate_type">
                                    <option value="">Seleccione un tipo de tarifa</option>
                                    <option *ngFor="let data of rate_types" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>