<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Agregar Paciente</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>DNI</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="dni"
                                    status="{{ dnivalid }}"
                                    (change)="verifyDNI()"
                                    maxlength="8"
                                    (keypress)="numberOnly($event)"
                                    placeholder="Ingresa el DNI">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>Cod DNI</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="dni_code"
                                    status="{{ dnivalid }}"
                                    (change)="verifyDNI()"
                                    (keypress)="numberOnly($event)"
                                    maxlength="1"
                                    placeholder="Codigo de DNI">
                            </div>
                        </div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Primer nombre</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="f_name"
                                    status="{{ getStatus(Form.get('f_name')) }}"
                                    maxlength="30"
                                    placeholder="Primer nombre">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Segundo nombre</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="s_name"
                                    status="{{ getStatus(Form.get('s_name')) }}"
                                    maxlength="30"
                                    placeholder="Segundo nombre">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="f_surname"
                                    status="{{ getStatus(Form.get('f_surname')) }}"
                                    maxlength="30"
                                    placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="s_surname"
                                    status="{{ getStatus(Form.get('s_surname')) }}"
                                    maxlength="30"
                                    placeholder="Apellido Materno">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    formControlName="address"
                                    status="{{ getStatus(Form.get('address')) }}"
                                    placeholder="Dirección">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Celular</label>
                                <input nbInput 
                                    type="phone"
                                    class="form-control"
                                    formControlName="cellphone"
                                    (keypress)="numberOnly($event)"
                                    status="{{ getStatus(Form.get('cellphone')) }}"
                                    placeholder="Nmro de Celular">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input nbInput 
                                    type="phone"
                                    class="form-control"
                                    formControlName="phone"
                                    (keypress)="numberOnly($event)"
                                    status="{{ getStatus(Form.get('phone')) }}"
                                    placeholder="Nmro de Teléfono">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Fecha Nacimiento</label>
                                <input nbInput 
                                    class="form-control"
                                    placeholder="Fecha de Nacimiento"
                                    [nbDatepicker]="birth_picker"
                                    status="{{ getStatus(Form.get('birth_date')) }}"
                                    formControlName="birth_date">
                                <nb-datepicker #birth_picker (dateChange)="calculateAge($event)"></nb-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Distrito</label>
                                <select nbInput 
                                    class="form-control {{ getStatus(Form.get('district')) }}"
                                    formControlName="district">
                                    <option value="">Seleccione un distrito</option>
                                    <option *ngFor="let data of filtered_districts" value="{{ data.id_ubigeo }}">{{ data.nombre_ubigeo }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input nbInput 
                                    type="email"
                                    class="form-control"
                                    formControlName="email"
                                    status="{{ getStatus(Form.get('email')) }}"
                                    placeholder="Nmro de Teléfono">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Tipo de Paciente</label>
                                <select nbInput 
                                    class="form-control {{ getStatus(Form.get('patient_type')) }}"
                                    (change)="updatePatientType()"
                                    formControlName="patient_type">
                                    <option value="">Seleccione un tipo</option>
                                    <option *ngFor="let data of patient_types" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>{{ age < 18 || age > 60 ? 'Tutor' : 'Contacto Emergencia' }}</label>
                                <input nbInput
                                    type="text"
                                    class="form-control"
                                    formControlName="tutor_name"
                                    status="{{ getStatus(Form.get('tutor_name')) }}"
                                    placeholder="Nombre del Tutor">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nmro Celular</label>
                                <input nbInput 
                                    type="phone"
                                    class="form-control"
                                    (keypress)="numberOnly($event)"
                                    formControlName="tutor_phone"
                                    status="{{ getStatus(Form.get('tutor_phone')) }}"
                                    placeholder="Nmro de Celular">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Aseguradora</label>
                                <select nbInput 
                                class="form-control {{ getStatus(Form.get('insurance')) }}"
                                (change)="updateInsurance()"
                                formControlName="insurance">
                                    <option value="">Seleccione un seguro</option>
                                    <option *ngFor="let data of insurance_list" value="{{ data.value }}">{{ data.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Tipo de seguro</label>
                                <select nbInput class="form-control {{ getStatus(Form.get('insurance_type')) }}"
                                formControlName="insurance_type" (change)="updateInsuranceType()">
                                    <option value="">Seleccione un tipo</option>
                                    <option *ngFor="let data of insurance_type" value="{{ data.value }}">{{ data.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Copago Fijo</label>
                                <input nbInput 
                                    type="text"
                                    class="form-control"
                                    (keypress)="numberOnly($event)"
                                    formControlName="copago"
                                    status="{{ getStatus(Form.get('copago')) }}"
                                    placeholder="Copago Fijo">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Copago Variable</label>
                                <input nbInput 
                                    type="text"
                                    (keypress)="numberOnly($event)"
                                    class="form-control"
                                    formControlName="copago_variable"
                                    status="{{ getStatus(Form.get('copago_variable')) }}"
                                    placeholder="Copago Variable">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Sede</label>
                                <select nbInput class="form-control {{ getStatus(Form.get('sede')) }}"
                                formControlName="sede">
                                    <option value="">Seleccione una sede</option>
                                    <option *ngFor="let data of sedes" value="{{ data.value }}">{{ data.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Convenio</label>
                                <select nbInput class="form-control {{ getStatus(Form.get('convenio')) }}" formControlName="convenio">
                                    <option value="0">Seleccione un convenio</option>
                                    <option *ngFor="let data of agreementsList" value="{{ data.id }}">{{ data.NOMBRE }}</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>