<div class="row justify-content-center">
        <div class="col-sm-12">
            <nb-card>
                <nb-card-header>Agregar Servicio</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="Form" (submit)="save()" >
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input nbInput type="number" class="form-control" formControlName="code" placeholder="Código de la tarifa">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Servicio</label>
                                    <input nbInput type="text" class="form-control" formControlName="service" placeholder="Nombre del Servicio">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tipo de paciente</label>
                                    <select nbInput class="form-control" formControlName="patient_type">
                                        <option value="">Seleccione un tipo de paciente</option>
                                        <option *ngFor="let data of patient_types" value="{{ data }}">{{ data }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 mb-2">
                                <h4>Tarifas</h4>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tarifa Estandar</label>
                                    <input nbInput type="text" class="form-control" formControlName="fullprice" placeholder="0.00">
                                </div>
                            </div>
    
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tarifa Promocional</label>
                                    <input nbInput type="text" class="form-control" formControlName="promocional" placeholder="0.00">
                                </div>
                            </div>
    
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tarifa Familiar</label>
                                    <input nbInput type="text" class="form-control" formControlName="familiar" placeholder="0.00">
                                </div>
                            </div>
    
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tarifa Especial</label>
                                    <input nbInput type="text" class="form-control" formControlName="especial" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 mb-2">
                                <h4 class="d-inline">Promociones</h4>
                                <button type="button" class="ml-4 btn btn-primary" (click)="addPromo()">Agregar</button>
                            </div>
                            <div class="col-sm-12">
                                <div class="row mt-2" *ngFor="let promo of promotionsSelected">
                                    <div class="col-sm-4">
                                        <select class="form-control" [value]="promo.promo" (change)="changePromo($event, promo)">
                                            <option value="-1">Eliga una Promoción</option>
                                            <option *ngFor="let promocode of promotionsList" [value]="promocode.id">{{promocode.CODIGO}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn-delete" type="button" (click)="deletePromo(promo)">
                                            <i class="nb-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>