<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card-header>Reporte de Atenciones</nb-card-header>
            <nb-card-body>
                <div class="row mb-4">
                    <!-- <div class="col-sm-3">
                        <div class="form-group">
                            <label>Tipo</label>
                            <select class="form-control" [(ngModel)]="type" (change)="filterData()">
                                <option value="1">Personal</option>
                                <option value="2">Pacientes</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Sede</label>
                            <select class="form-control" [(ngModel)]="sede" (change)="changeSede()">
                                <option value="LA PERLA">La perla</option>
                                <option value="RONDA RECOLETA">Ronda Recoleta</option>
                                <option value="TORRE MEDICA">Torre Médica</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Personal</label>
                            <select class="form-control" [(ngModel)]="personal" (change)="changePersonal()">
                                <option value="0">Seleccione un personal</option>
                                <option *ngFor="let personal of personal_parsed" value="{{ personal.id }}">
                                    {{ personal.NOMBRE }} {{personal.APELLIDO}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Tiempo</label>
                            <select class="form-control" [(ngModel)]="time" (change)="filterData()">
                                <option value="0">Seleccione una fecha</option>
                                <option value="1">Hoy</option>
                                <option value="2">Ayer</option>
                                <option value="3">Este mes</option>
                                <option value="4">Mes anterior</option>
                                <option value="5">Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="time == 5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Desde</label>
                                    <input nbInput class="form-control" placeholder="Fecha inicio"
                                        [nbDatepicker]="date_init">
                                    <nb-datepicker #date_init (dateChange)="customDateInit($event)"></nb-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Hasta</label>
                                    <input nbInput class="form-control" placeholder="Fecha fin"
                                        [nbDatepicker]="date_end">
                                    <nb-datepicker #date_end (dateChange)="customDateEnd($event)"></nb-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng2-smart-table [settings]="settings" [source]="source">
                </ng2-smart-table>
                <div class="row mt-4">
                    <div class="offset-sm-9 col-sm-3 text-right">
                        <button class="btn btn-primary" (click)="export()">Exportar</button>
                        <p>Al exportar obtiene más datos de los mostrados</p>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>