<div class="row">
    <div class="col-sm-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
            <nb-card-header>Horario</nb-card-header>
            <nb-card-body>
                <div class="row schedule">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div
                                class="btn btn-primary"
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()"
                                >Anterior
                            </div>
                            <div
                                class="btn btn-outline-secondary"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                            >Actual
                            </div>
                            <div
                                class="btn btn-primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()"
                            >Siguiente
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
                    </div>
                </div>
                <div class="row schedule">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 text-right">
                        <div class="btn-group">
                            <div
                                class="btn btn-primary"
                                (click)="setView(CalendarView.Month)"
                                [class.active]="view === CalendarView.Month"
                            >
                            Mes
                            </div>
                            <div
                                class="btn btn-primary"
                                (click)="setView(CalendarView.Week)"
                                [class.active]="view === CalendarView.Week"
                            >
                            Semana
                            </div>
                            <div
                                class="btn btn-primary"
                                (click)="setView(CalendarView.Day)"
                                [class.active]="view === CalendarView.Day"
                            >
                            Día
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fisioterapeuta</label>
                            <select nbInput 
                                type="text"
                                class="form-control"
                                name="terapist"
                                (change)="terapistChange()"
                                [(ngModel)]="terapist">
                                <option *ngFor="let data of personalParsed" value="{{ data.id }}">{{ data.value }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Sede</label>
                        <select nbInput 
                            type="text"
                            class="form-control"
                            name="sede"
                            [disabled]="this.user?.SEDE == 'LA PERLA'"
                            (change)="sedeChange()"
                            [(ngModel)]="sede">
                            <option *ngFor="let data of sede_list" value="{{ data.value }}">{{ data.name }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Turno</label>
                            <select nbInput 
                                type="text"
                                class="form-control"
                                name="shift"
                                (change)="shiftChange()"
                                [(ngModel)]="shift">
                                <option value="m">Mañana</option>
                                <option value="t">Tarde</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div [ngSwitch]="view">
                            <mwl-calendar-month-view
                                *ngSwitchCase="CalendarView.Month"
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                [activeDayIsOpen]="activeDayIsOpen"
                                (dayClicked)="dayClicked($event.day)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                            ></mwl-calendar-month-view>

                            <mwl-calendar-week-view
                                *ngSwitchCase="CalendarView.Week"
                                [viewDate]="viewDate"
                                [events]="events"
                                [dayStartHour]="startHour"
                                [dayStartMinute]="startMinute"
                                [dayEndHour]="endHour"
                                [dayEndMinute]="endMinute"
                                [hourSegmentHeight]="50"
                                [hourSegments]="period"
                                [hourSegmentTemplate]="customHourTemplate"
                                [refresh]="refresh"
                                [excludeDays]="excludedDays"
                                (eventClicked)="handleEvent('Clicked', $event.event, 1)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (hourSegmentClicked)="emptyHourClicked($event)"
                            ></mwl-calendar-week-view>

                            <!-- [hourSegmentTemplate]="customHourTemplate" -->
                            
                            <mwl-calendar-day-view
                                *ngSwitchCase="CalendarView.Day"
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                [dayStartHour]="startHour"
                                [dayStartMinute]="startMinute"
                                [dayEndHour]="endHour"
                                [dayEndMinute]="endMinute"
                                [hourSegmentHeight]="50"
                                [hourSegmentTemplate]="defaultTemplate"
                                [hourSegments]="period"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                            ></mwl-calendar-day-view>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #customHourTemplate
      let-segment="segment"
      let-locale="locale"
      let-segmentHeight="segmentHeight"
      let-isTimeLabel="isTimeLabel">
      <div
        class="cal-hour-segment"
        [style.height.px]="segmentHeight"
        [ngClass]="segment.cssClass">
        <div class="cal-time" *ngIf="isTimeLabel">
            {{ parse_once(segment) }}
        </div>
    </div>
</ng-template>

<ng-template
      #defaultTemplate
      let-segment="segment"
      let-locale="locale"
      let-segmentHeight="segmentHeight">
      <div
        class="cal-hour-segment"
        [style.height.px]="segmentHeight"
        [ngClass]="segment.cssClass">
        <div class="cal-time">
            {{ parse_once(segment) }}
        </div>
      </div>
</ng-template>

<!-- [class.cal-hour-start]="segment.isStart"
        [class.cal-after-hour-start]="!segment.isStart" -->
<!-- {{ segment.date | calendarDate:'weekViewHour':locale }} -->

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">{{ getpatientName(modalData.event.title) }}</h5>
        <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-sm-2"><b>Paciente:</b></div>
            <div class="col-sm-3">{{ getpatientName(modalData.event.title) }}</div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-sm-2"><b>Sesion:</b></div>
            <div class="col-sm-3">{{ getpatientSession(modalData.event.title) }}</div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-sm-2"><b>Hora:</b></div>
            <div class="col-sm-3">{{ getpatientHour(modalData.event.start) }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="printTicket(modalData.event)">Ticket</button>
        <button type="button" class="btn btn-warning" (click)="reprogramSchedule(modalData.event)">Reprogramar</button>
        <button type="button" class="btn btn-danger" (click)="cancelSchedule(modalData.event)">Cancelar</button>
    </div>
</ng-template>