<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Agregar Ventas</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Item</label>
                                        <select class="form-control"
                                            formControlName="ITEM">
                                            <option *ngFor="let item of item_list_parsed" value="{{item.id}}">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Marca</label>
                                        <select class="form-control"
                                            formControlName="MARCA">
                                            <option *ngFor="let item of marca_list_parsed" value="{{item.id}}">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <select class="form-control"
                                            formControlName="TIPO">
                                            <option *ngFor="let item of tipo_list_parsed" value="{{item.id}}">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <select class="form-control"
                                            formControlName="MODELO">
                                            <option *ngFor="let item of modelo_list_parsed" value="{{item.id}}">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input nbInput
                                            type="text"
                                            (keydown)="onlynumbers($event)"
                                            class="form-control"
                                            formControlName="CANTIDAD"
                                            placeholder="0.00">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <input nbInput
                                            class="form-control"
                                            formControlName="PERSONAL_FISIOVIDA"
                                            placeholder="Nombres y Apellidos del cliente">
                                    </div>
                                </div>
        
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label text-right">Precio Unitario</label>
                                        <div class="col-sm-6">
                                            <input nbInput
                                            class="form-control-plaintext"
                                            formControlName="PRECIO_UNIDAD"
                                            placeholder="0.00">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label text-right">Subtotal</label>
                                        <div class="col-sm-6">
                                            <input nbInput
                                            class="form-control-plaintext"
                                            formControlName="SUBTOTAL"
                                            placeholder="0.00">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label text-right">I.G.V</label>
                                        <div class="col-sm-6">
                                            <input nbInput
                                            class="form-control-plaintext"
                                            formControlName="IGV"
                                            placeholder="0.00">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label text-right">Total</label>
                                        <div class="col-sm-6">
                                            <input nbInput
                                            class="form-control-plaintext"
                                            formControlName="TOTAL"
                                            placeholder="0.00">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>