<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Agregar Personal</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Primer nombre</label>
                                <input nbInput type="text" class="form-control" formControlName="name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Segundo nombre</label>
                                <input nbInput type="text" class="form-control" formControlName="name2" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input nbInput type="text" class="form-control" formControlName="surname" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input nbInput type="text" class="form-control" formControlName="surname2" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>DNI</label>
                                <input nbInput type="text" class="form-control" formControlName="dni" placeholder="ejem: 12345678">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Fecha Nacimiento</label>
                                <input nbInput class="form-control" placeholder="" [nbDatepicker]="birth_picker" formControlName="birth_date">
                                <nb-datepicker #birth_picker></nb-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Celular</label>
                                <input nbInput type="text" class="form-control" formControlName="cellphone" placeholder="Número de celular">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input nbInput type="text" class="form-control" formControlName="phone" placeholder="Número de teléfono fijo">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input nbInput type="text" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Estado Civil</label>
                                <select nbInput class="form-control" formControlName="civil_status">
                                    <option value="">Seleccione un estado civil</option>
                                    <option *ngFor="let data of civil_status" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Departamento</label>
                                <select nbInput class="form-control" formControlName="department" (change)="onChangeDepartment()">
                                    <option value="">Seleccione un departamento</option>
                                    <option *ngFor="let data of departments" value="{{ data.id_ubigeo }}">{{ data.nombre_ubigeo }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <select nbInput class="form-control" formControlName="city" (change)="onChangeProvince()">
                                    <option value="">Seleccione una ciudad</option>
                                    <option *ngFor="let data of filtered_cities" value="{{ data.id_ubigeo }}">{{ data.nombre_ubigeo }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Distrito</label>
                                <select nbInput class="form-control" formControlName="district">
                                    <option value="">Seleccione un distrito</option>
                                    <option *ngFor="let data of filtered_districts" value="{{ data.id_ubigeo }}">{{ data.nombre_ubigeo }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input nbInput type="text" class="form-control" formControlName="address" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Area</label>
                                <select nbInput class="form-control" formControlName="area">
                                    <option value="">Seleccione un area</option>
                                    <option *ngFor="let data of areas" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sede</label>
                                <select nbInput class="form-control" formControlName="sede">
                                    <option value="">Seleccione una sede</option>
                                    <option *ngFor="let data of sedes" value="{{ data.value }}">{{ data.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Turno</label>
                                <select nbInput class="form-control" formControlName="shift">
                                    <option value="">Seleccione un turno</option>
                                    <option *ngFor="let data of shifts" value="{{ data }}">{{ data }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Es doctor?</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="1" name="is_doctor" formControlName="is_doctor">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Si</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="0" name="is_doctor" formControlName="is_doctor">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Es de niños?</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="1" name="is_kids" formControlName="is_kids">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Si</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="0" name="is_kids" formControlName="is_kids">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            <span>Contraseña para maración</span>
                            <hr>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input nbInput type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="col-sm-12" *ngIf="isadmin">
                            <hr>
                            <span>Administración</span>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select nbInput class="form-control" formControlName="category">
                                            <option value="">Seleccione una categoria</option>
                                            <option *ngFor="let data of categories" value="{{ data.id }}">{{ data.NOMBRE }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Horarios</label>
                                        <ng-multiselect-dropdown
                                            [placeholder]="''"
                                            [data]="schedulesList"
                                            formControlName="schedules"
                                            [settings]="dropdownSettings"
                                        ></ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Último lugar de trabajo</label>
                                        <input nbInput type="text" class="form-control" formControlName="last_work" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Último puesto</label>
                                        <input nbInput type="text" class="form-control" formControlName="last_position" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Condición</label>
                                        <select nbInput class="form-control" formControlName="condition">
                                            <option value="">Seleccione una condición</option>
                                            <option *ngFor="let data of conditions" value="{{ data }}">{{ data }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select nbInput class="form-control" formControlName="status">
                                            <option value="">Seleccione un estado</option>
                                            <option *ngFor="let data of status" value="{{ data }}">{{ data }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fecha de ingreso</label>
                                        <input nbInput type="text" class="form-control" formControlName="enter_date" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Nro de cuenta bancaria</label>
                                        <input nbInput type="text" class="form-control" formControlName="bank_account" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>                       


                        
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>