<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Agregar Horario de Personal</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Identificador del horario</label>
                                <input type="text" nbInput class="form-control" formControlName="name" placeholder="Identificador del horario">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Día</label>
                                <select nbInput class="form-control" formControlName="day">
                                    <option *ngFor="let day of days" value="{{ day.value }}">{{ day.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Hora inicio</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select nbInput class="form-control" formControlName="start_hour_h">
                                            <option *ngFor="let hour of hours" value="{{ hour.value }}">{{ hour.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select nbInput class="form-control" formControlName="start_hour_m">
                                            <option *ngFor="let minute of minutes" value="{{ minute.value }}">{{ minute.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4" >
                                        <select nbInput class="form-control" formControlName="start_hour_t">
                                            <option value="am">AM</option>
                                            <option value="pm">PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Hora Fin</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select nbInput class="form-control" formControlName="end_hour_h">
                                            <option *ngFor="let hour of hours" value="{{ hour.value }}">{{ hour.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select nbInput class="form-control" formControlName="end_hour_m">
                                            <option *ngFor="let minute of minutes"  value="{{ minute.value }}">{{ minute.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select nbInput class="form-control" formControlName="end_hour_t">
                                            <option value="am">AM</option>
                                            <option value="pm">PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Duración (en minutos)</label>
                                <select nbInput class="form-control" formControlName="duration">
                                    <option *ngFor="let duration of durations"  value="{{ duration.value }}">{{ duration.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>