<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Agregar Promoción</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Código</label>
                                <input nbInput type="text" class="form-control" formControlName="CODIGO" placeholder="Nombre de la promoción">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Descuento</label>
                                <input nbInput type="text" class="form-control" formControlName="DSCTO" placeholder="Porcentaje del Descuento">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Consultas</label>
                                <input nbInput type="text" class="form-control" formControlName="CONSULTA" placeholder="Numero de Consultas gratis">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="d-block">Incluye IGV</label>
                                <button type="button" class="btn {{ Form.get('IGV').value == 1 ? 'btn-success' : '' }} mr-1" (click)="btnIGV(1)">SI</button>
                                <button type="button" class="btn {{ Form.get('IGV').value == 0 ? 'btn-success' : '' }}" (click)="btnIGV(0)">NO</button>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <select nbInput class="form-control" formControlName="ESTADO">
                                    <option *ngFor="let stat of status" value="{{ stat }}">{{ stat }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>