<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
            <nb-card-header>Agregar Atención diaria</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>DNI</label>
                                <input autofocus nbInput 
                                    maxlength="8"
                                    (keyup)="verifyDNI()"
                                    (keypress)="numberOnly($event)"
                                    type="text"
                                    class="form-control"
                                    formControlName="DNI"
                                    placeholder="Número de DNI">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Paciente</label>
                                <input nbInput type="text" class="form-control" formControlName="NOMBRE_APELLIDO" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Tratamiento</label>
                                        <select class="form-control" formControlName="treatment" (change)="changeTreatment()">
                                            <option *ngFor="let treatment of treatmentList_parsed" value="{{ treatment.id }}"> {{ treatment.SERVICIO }} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Sesiones Programadas</label>
                                        <input nbInput type="text" class="form-control" formControlName="S_PROGRAMADAS" placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Sesiones Pagadas</label>
                                        <input nbInput type="text" class="form-control" formControlName="S_PAGADAS" placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-10" *ngIf="showpromotions">
                                    <div class="form-group">
                                        <label>Sesiones Realizadas</label>
                                        <input nbInput type="text" class="form-control" formControlName="S_REALIZADAS" placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Sesion actual</label>
                                        <input nbInput type="text" class="form-control" formControlName="session" placeholder="Cantidad de sesiones">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>

                        <div class="col-sm-5 text-right">
                            <button type="button" class="btn btn-danger mr-3" (click)="cancel()">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Generar Ticket</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
