<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Smart Table</nb-card-header>
            <nb-card-body>
                <ng2-smart-table 
                    [settings]="settings"
                    [source]="source"
                    (create)="onAdd($event)"
                    (edit)="onEdit($event)"
                    (delete)="onDeleteConfirm($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>