// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
@import "~angular-calendar/css/angular-calendar.css";
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};


.terapeuta_inbox {
  div {
      display: inherit !important;
  }
  ng2-input-autocomplete {
    width: 100%;
    height: 100%;
  }
  .autocomplete {
    width: 100%;
    height: 100%;
    input {
      border-radius: 0.375rem;
      border: 2px solid #dadfe6;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      padding: 0.75rem 1.125rem;
    }
  }
}

.cal-week-view * {
  text-align: center;
}

.cal-event-container.canceled .cal-event {
  background-color: #FF5555 !important;
  border-color: #E56A25 !important;
  color: #fff;
}

.cal-event-container.reprogrammed .cal-event {
  background-color: #FFF83D !important;
  border-color: #B3AD19 !important;
}

.nb-theme-default nb-menu .menu-item .menu-icon {
  font-size: 1.5rem;
}

.ticket_container .ticket{
  border: 1px dotted #282828;
  width: 300px;
  max-width: 300px;
  padding: 0 1.5rem;

  .patient {
    margin-bottom: 1rem;
  }

  .import {
    margin-bottom: 1rem;
  }

  .disclaimer {
    margin-top: 1rem;
  }

  .sign {
    margin-top: 4rem;
    text-align: left;
  }
  .dni {
    text-align: left;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  p {
    margin: 0;
    text-align: center;
  }
}

.btn-avatar.active {
  border: 2px solid #23d02e;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(35,208,46,1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(35,208,46,1);
  box-shadow: 0px 0px 4px 1px rgba(35,208,46,1);

}

.btn-avatar:focus {
  outline: none;
}
.btn-avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #282828;
  padding: 0;
  background: #fff;
}

.user-picture.image {
  background-size: contain !important;
  background-position: center !important;
}