<div class="row justify-content-center">
    <div class="col-sm-10">
        <nb-card>
            <nb-card-header>Agregar Salida de Caja</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Receptor</label>
                                <input nbInput
                                    type="text"
                                    class="form-control"
                                    formControlName="RECEPTOR"
                                    placeholder="Nombre del receptor">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Importe</label>
                                <input nbInput
                                    type="text"
                                    (keydown)="onlynumbers($event)"
                                    class="form-control"
                                    formControlName="IMPORTE"
                                    placeholder="0.00">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea nbInput
                                    class="form-control"
                                    formControlName="DESCRIPCION"
                                    placeholder="Describe la salida de dinero"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>