<div class="row justify-content-center">
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>Marcar Ingreso</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" autocomplete="off" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>DNI</label>
                                <input nbInput
                                    type="text"
                                    class="form-control"
                                    name="falsodni"
                                    autocomplete="off"
                                    formControlName="dni"
                                    #dni
                                    (focus)="cleanFormControl(dni)"
                                    (keydown.enter)="searchPersonal(pass)"
                                    (keydown.tab)="tabPressed($event)"
                                    maxlength="8" size="8"
                                    placeholder="DNI">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input style="display:none" type="password" name="fakepasswordremembered"/>
                                <input nbInput
                                    type="password"
                                    class="form-control"
                                    name="falsopss"
                                    autocomplete="off"
                                    maxlength="4" size="4"
                                    #pass
                                    (focus)="cleanFormControl(pass)"
                                    (keydown.enter)="save()"
                                    (keydown.tab)="tabPressed($event)"
                                    formControlName="pass"
                                    placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>