<div class="row">
    <div class="col-sm-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
            <nb-card-header>Editar Tratamiento</nb-card-header>
            <nb-card-body>
                <nb-stepper #stepper
                    orientation="horizontal"
                    [linear]="true"
                    [disableStepNavigation]="stepMovement">

                    <nb-step label="Servicio">
                        <form class="step-container"
                            [formGroup]="actionForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>DNI</label>
                                        <input nbInput 
                                            autofocus
                                            type="text"
                                            maxlength="8"
                                            (keyup)="verifyDNI()"
                                            (keypress)="numberOnly($event)"
                                            class="form-control"
                                            formControlName="dni"
                                            placeholder="Número de DNI">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Primer Nombre</label>
                                        <input nbInput 
                                            type="text"
                                            class="form-control"
                                            formControlName="P_NOMBRE"
                                            placeholder="Primer Nombre">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Primer Apellido</label>
                                        <input nbInput 
                                            type="text"
                                            class="form-control"
                                            formControlName="P_APELLIDO"
                                            placeholder="Primer Apellido">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tipo de servicio</label>
                                        <select nbInput
                                            (change)="setAction()"
                                            class="form-control"
                                            formControlName="action">
                                            <option value="0">Seleccione un tipo de servicio</option>
                                            <option value="1">Consultas</option>
                                            <option value="2">Tratamientos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form *ngIf="actionForm.get('action').value == 1"
                            class="step-container" 
                            [formGroup]="consultForm"
                            (submit)="getDoctorSchedule(stepper)">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Servicio</label>
                                        <select nbInput
                                            class="form-control"
                                            formControlName="SERVICIO">
                                            <option *ngFor="let serv of servicesParsed" value="{{serv.id}}">{{ serv.SERVICIO }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group terapeuta_inbox">
                                        <label>Doctor</label>
                                        <input autocomplete nbInput
                                            class="form-control"
                                            formControlName="DOCTOR"
                                            [config]="config"
                                            [items]="personalParsed"
                                            (inputChangedEvent)="onInputChangedEvent($event)"
                                            (selectEvent)="onSelect($event)">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="submit" nbButton>siguiente</button>
                                </div>
                            </div>
                        </form>
                        <form #actionFormButton *ngIf="actionForm.get('action').value == 2"
                            class="step-container" 
                            [formGroup]="treatmentForm"
                            (submit)="getTerapistSchedule(stepper)">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Número de sesiones</label>
                                        <input nbInput 
                                            type="text"
                                            class="form-control"
                                            formControlName="sessions"
                                            placeholder="Número de sesiones">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="submit" nbButton>siguiente</button>
                                </div>
                            </div>
                        </form>
                    </nb-step>



                    <nb-step label="Guardar">
                        <div class="row schedule">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <div
                                        class="btn btn-primary"
                                        mwlCalendarPreviousView
                                        [view]="view"
                                        [(viewDate)]="viewDate"
                                        (viewDateChange)="closeOpenMonthViewDay()"
                                        >Anterior
                                    </div>
                                    <div
                                        class="btn btn-outline-secondary"
                                        mwlCalendarToday
                                        [(viewDate)]="viewDate"
                                    >Actual
                                    </div>
                                    <div
                                        class="btn btn-primary"
                                        mwlCalendarNextView
                                        [view]="view"
                                        [(viewDate)]="viewDate"
                                        (viewDateChange)="closeOpenMonthViewDay()"
                                    >Siguiente
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 text-right">
                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
                            </div>
                            <!-- <div class="col-md-4 text-right">
                                <div class="btn-group">
                                    <div
                                        class="btn btn-primary"
                                        (click)="setView(CalendarView.Month)"
                                        [class.active]="view === CalendarView.Month"
                                    >
                                    Mes
                                    </div>
                                    <div
                                        class="btn btn-primary"
                                        (click)="setView(CalendarView.Week)"
                                        [class.active]="view === CalendarView.Week"
                                    >
                                    Semana
                                    </div>
                                    <div
                                        class="btn btn-primary"
                                        (click)="setView(CalendarView.Day)"
                                        [class.active]="view === CalendarView.Day"
                                    >
                                    Día
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4" *ngIf="actionForm.get('action').value == 1">
                                <p><b>{{ doctorLegend }}</b></p>
                            </div>
                            <div class="col-sm-4" *ngIf="actionForm.get('action').value == 2">
                                <div class="form-group">
                                    <label>Fisioterapeuta</label>
                                    <select nbInput 
                                        type="text"
                                        class="form-control"
                                        name="terapist"
                                        [disabled]="editSchedule"
                                        (change)="terapistChange()"
                                        [(ngModel)]="terapist">
                                        <option *ngFor="let data of personalParsed" value="{{ data.id }}">{{ data.value }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="actionForm.get('action').value == 2">
                                <div class="form-group">
                                    <label>Intervalo</label>
                                    <select nbInput 
                                        type="text"
                                        class="form-control"
                                        name="interval"
                                        
                                        (change)="intervalChange()"
                                        [(ngModel)]="interval">
                                        <option value="lu-vi">Lunes a Viernes</option>
                                        <option value="lu-sa">Lunes a Sabado</option>
                                        <option value="lu-mi-vi">Lunes - Miercoles - Viernes</option>
                                        <option value="ma-ju-sa">Martes - Jueves - Sabados</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div [ngSwitch]="view">
                                    <!-- <mwl-calendar-month-view
                                        *ngSwitchCase="CalendarView.Month"
                                        [viewDate]="viewDate"
                                        [events]="events"
                                        [refresh]="refresh"
                                        [activeDayIsOpen]="activeDayIsOpen"
                                        (dayClicked)="dayClicked($event.day)"
                                        (eventClicked)="handleEvent('Clicked', $event.event)"
                                        (eventTimesChanged)="eventTimesChanged($event)"
                                    ></mwl-calendar-month-view> -->

                                    <mwl-calendar-week-view
                                        *ngSwitchCase="CalendarView.Week"
                                        [viewDate]="viewDate"
                                        [events]="events"
                                        [dayStartHour]="startHour"
                                        [dayStartMinute]="startMinute"
                                        [dayEndHour]="endHour"
                                        [dayEndMinute]="endMinute"
                                        [hourSegmentHeight]="50"
                                        [hourSegments]="period"
                                        [refresh]="refresh"
                                        [excludeDays]="excludedDays"
                                        (eventClicked)="handleEvent('Clicked', $event.event, 1)"
                                        (eventTimesChanged)="eventTimesChanged($event)"
                                        (hourSegmentClicked)="emptyHourClicked($event)"
                                    ></mwl-calendar-week-view>
                                    
                                    <!-- <mwl-calendar-day-view
                                        *ngSwitchCase="CalendarView.Day"
                                        [viewDate]="viewDate"
                                        [events]="events"
                                        [refresh]="refresh"
                                        [dayStartHour]="startHour"
                                        [dayStartMinute]="startMinute"
                                        [dayEndHour]="19"
                                        [dayEndMinute]="30"
                                        [hourSegmentHeight]="30"
                                        [hourSegments]="period"
                                        (eventClicked)="handleEvent('Clicked', $event.event)"
                                        (eventTimesChanged)="eventTimesChanged($event)"
                                    ></mwl-calendar-day-view> -->
                                </div>
                            </div>
                            <div class="col-sm-12 text-right mt-5">
                                <button nbButton nbStepperPrevious class="mr-3" *ngIf="!editSchedule">atras</button>
                                <button type="button" nbButton (click)="save(1)">guardar</button>
                            </div>
                        </div>
                    </nb-step>                    

                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #modalContent let-close="close">
    <!-- <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
        </button>
    </div> -->
</ng-template>