$line-color: #272727;
.row.schedule {
    padding: 1rem .5rem;
    .row.title:first-child {
        border-bottom: 2px solid $line-color;
        padding-bottom: 1rem;
    }
    .col {
        text-align: center;
        .hour3:nth-child(3n+0){
            border-bottom: 1px solid $line-color;
        }
        .hour2:nth-child(2n+0){
            border-bottom: 1px solid $line-color;
        }
        .hour4:nth-child(4n+0){
            padding-bottom: 1rem;
            border-bottom: 1px solid $line-color;
        }
        .hour {
            .col {
                border-radius: 15px;
                margin-top: 1rem;
                border: 1px solid $line-color;
                padding: .5rem .25rem;
                text-align: center;
                min-height: 33px;
                user-select: none;
                cursor: pointer;
            }
        }
    }
}