<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Editar Convenio</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input nbInput type="text" class="form-control" formControlName="NOMBRE"
                                    placeholder="Nombre del convenio">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Porcentaje</label>
                                <input nbInput type="number" class="form-control" formControlName="PORCENTAJE"
                                    placeholder="Porcentaje de descuento">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>