<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Editar Usuario del sistema</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" (submit)="save()" >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre de usuario</label>
                                <input nbInput type="text" class="form-control" formControlName="username" placeholder="usuario para el login">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Cambiar Password</label>
                                <input nbInput type="password" class="form-control" formControlName="password" placeholder="password para el login">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input nbInput type="text" class="form-control" formControlName="NOMBRE" placeholder="Nombre del usuario">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input nbInput type="text" class="form-control" formControlName="APELLIDO" placeholder="Apellido del usuario">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input nbInput type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Area de trabajo</label>
                                <select nbInput class="form-control" formControlName="AREA">
                                    <option value="recepcion">recepcion</option>
                                    <option value="administracion">administracion</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sede de trabajo</label>
                                <select nbInput class="form-control" formControlName="SEDE">
                                    <option *ngFor="let data of static.SEDES" value="{{data.value}}" >{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Turno de trabajo</label>
                                <select nbInput class="form-control" formControlName="TURNO">
                                    <option *ngFor="let data of static.SHIFTS" value="{{data}}" >{{data}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>