<div class="row justify-content-center">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Editar Perfil</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Cambiar Password</label>
                            <button class="btn btn-primary ml-3" (click)="toggleShowForm()">{{ showForm ? 'Cancelar' : 'Cambiar Password' }}</button>
                        </div>
                        <form *ngIf="showForm" [formGroup]="Form" autocomplete="off" >
                            <div class="row">
                                <div class="offset-sm-1 col-sm-6">
                                    <div class="form-group">
                                        <label>Nuevo Password</label>
                                        <input nbInput
                                            type="password"
                                            class="form-control"
                                            formControlName="newpassword"
                                            maxlength="8"
                                            placeholder="Nuevo Password">
                                    </div>
                                </div>
                                <div class="offset-sm-1 col-sm-6">
                                    <div class="form-group">
                                        <label>Repetir Password</label>
                                        <input nbInput
                                            type="password"
                                            class="form-control"
                                            formControlName="renewpassword"
                                            maxlength="8"
                                            placeholder="Nuevo Password">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group mt-5">
                            <label>Cambiar Avatar</label>
                        </div>
                        <div class="form-group">
                            <button *ngFor="let avatar of avatar_list" class="btn-avatar {{avatar.active ? 'active' : '' }} mr-2"  (click)="setActive(avatar)">
                                <img [src]="baseImageurl + avatar.image" alt="{{ avatar.image }}" height="55">
                            </button>
                        </div>

                        <div class="form-group mt-5">
                            <button class="btn btn-primary" (click)="save()">Guardar</button>
                        </div>
                    </div>
                    
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>