<div class="row justify-content-center">
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>Marcar Salida</nb-card-header>
            <nb-card-body>
                <form [formGroup]="Form" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>DNI</label>
                                <input nbInput
                                    type="text"
                                    class="form-control"
                                    formControlName="dni"
                                    maxlength="8" size="8"
                                    #dni
                                    (focus)="cleanFormControl(dni)"
                                    (keydown.enter)="searchPersonal(pass)"
                                    (keydown.tab)="tabPressed($event)"
                                    placeholder="Ingresa tu DNI">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input nbInput type="password"
                                    class="form-control"
                                    formControlName="pass"
                                    maxlength="4" size="4"
                                    #pass
                                    (focus)="cleanFormControl(pass)"
                                    (keydown.enter)="verifyPassword(attentions)"
                                    (keydown.tab)="tabPressed($event)"
                                    placeholder="Ingresa tu contraseña">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Numero de atenciones</label>
                                <input nbInput type="number"
                                    class="form-control"
                                    formControlName="attentions"
                                    maxlength="3" size="3"
                                    #attentions
                                    (focus)="cleanFormControl(attentions)"
                                    (keydown.enter)="save()"
                                    (keydown.tab)="tabPressed($event)"
                                    placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>